.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.projetos__titulo {
    color: var(--preto);
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 2rem 0;
}

.projetos__box {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.projeto__nome {
    color: var(--preto);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: stretch;
    padding: 0.5rem 0;
    }

.projeto__texto {
    color: var(--preto);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0.5rem 0;
}
.projeto__descricao {
    display: flex;
    width: 35rem;
    align-items: flex-start;
    gap: 1rem;
}

.projeto__btn {
    text-decoration: none;
}

.projeto__botao--repo {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    color: var(--cor-azul);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid var(--cor-azul);
    border-radius: 0.3rem;
}
.projeto__botao--demo {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    color: var(--cor-branco);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: var(--cor-azul);
    border: 1px solid var(--cor-azul-claro);
    border-radius: 0.25rem;

}

.projeto__botao--demo:hover, .projeto__botao--repo:hover {
    cursor: pointer;
    color: var(--roxo);
    transition: 0.25s all;
    
}

@media screen and (min-width: 0) {
    .projetos{
        width: 100%;
    }
    .projetos__titulo{
        font-size: 16px;
    }
    .projetos__box{
        flex-direction: column;
    }
    .projetos__img{
        width: 22rem;
        height: 15rem;
    }
    .projetos__info{
        width: 22rem;
        margin-bottom: 1rem;
    }
    .projeto__nome{
        font-size: 14px;
    }
    .projeto__texto .projeto__botao--demo .projeto__botao--repoy{
        font-size: 10px;
    }
}

@media screen and (min-width: 768px) {
    .projetos{
        width: 100%;
    }
    .projetos__titulo{
        font-size: 22px;
    }
    .projetos__box{
        flex-direction: column;
    }
    .projetos__img{
        width: 27rem;
        height: 17rem;
    }
    .projetos__info{
        width: 27rem;
    }
    .projeto__nome{
        font-size: 16px;
    }
    .projeto__texto .projeto__botao--demo .projeto__botao--repo{
        font-size: 12px;
    }
}

@media screen and (min-width: 992px) {
    .projetos{
        width: 71rem;
        padding-bottom: 2rem;
    }
    .projetos__titulo{
        font-size: 32px;
    }
    .projetos__box{
        flex-direction: row;
    }
    .projetos__img{
        width: 35rem;
        height: 23rem;
    }
    .projetos__info{
        width: auto;
    }
    .projeto__nome{
        font-size: 22px;
    }
    .projeto__texto .projeto__botao--demo .projeto__botao--repo{
        font-size: 16px;
    }
}