.titulo {
    display: flex;
    justify-content: space-between;
}

.titulo__div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 1.5rem;
    flex-shrink: 0;
}

.titulo__foto {
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1 auto;
}

.titulo__bio {
    color: var(--cor-de-link);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: stretch;
}

.titulo__descricao {
    color: var(--cor-de-destaque);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;
    padding: 1.5rem 0;
}

.titulo__redes {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px ;
}

.titulo__redes a {
    color: var(--cor-de-destaque);
    text-decoration: none;
}

.titulo__redes a:hover{
    color: var(--cor--hover);
    text-decoration: underline;
    transition: 0.5seg all;
}

@media screen and (min-width: 0) {
    .titulo {
        width: 100%;
        flex-direction: column-reverse;
        padding: 2rem 0;
    }

    .titulo__div{
        width: 80%;
    }
    .titulo__foto {
        width: 6.125rem;
        height: 6.125rem;
        border-radius: 6.125rem;
        align-self: flex-start;
        margin-left: 1rem;
    }
    .titulo__descricao {
        font-size: 14px;
    }
    .titulo__redes{
        font-size: 14px;
        gap: 0.5rem;
    }
    
}

@media screen and (min-width: 768px) {
    .titulo{
        width: 100%;
        flex-direction: row;
        padding: 2rem 0;
    }
    .titulo__div{
        width: 70%;
    }
    .titulo__foto {
        width: 9.125rem;
        height: 9.125rem;
        border-radius: 9.125rem;
        align-self: normal;
    }
    .titulo__bio {
        font-size: 22px;
    }
    .titulo__descricao {
        font-size: 16px;
    }
    .titulo__redes {
        font-size: 16px;
        gap: 2rem;
    }
}

@media screen and (min-width: 992px) {
    .titulo{
        width: 71rem;
        flex-direction: row;
        padding: 2rem;
    }
    .titulo__div{
        width: 70%;
    }
    .titulo__foto {
        width: 23rem;
        height: 23rem;
        border-radius: 23rem;
    }
    .titulo__bio {
        font-size: 52px;
    }
    .titulo__descricao {
        font-size: 22px;
    }
    .titulo__redes{
        font-size: 16px;
        gap: 2rem;
    }
}